* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#options {
  padding: 10px 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: rgb(220, 220, 220);
  border-bottom: black 1px solid;
}

.option {
  margin: 5px 10px;
  padding: 0 10px;
  height: 40px;
  background: dodgerblue;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  color: white;
  font-family: sans-serif;
  cursor: pointer;
  font-size: 30px;
  border-radius: 10px;
  transition: transform 0.2s, filter 0.2s;

  display: flex;
  justify-content: center;
  align-items: center;
}
.option:hover {
  transform: rotate(3deg);
  filter: brightness(0.9);
}

#choose-file {
  background: rgb(235, 90, 90);
}

#graph-wrapper-1 {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#speeds {
  margin-bottom: 10px;
  display: flex;
}

.speed-button {
  background: rgba(0, 0, 0, 0.15);
  padding: 5px 10px;
  margin: 10px;
  font-size: 25px;
  font-family: sans-serif;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.4);
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
  transition: box-shadow 0.2s, transform 0.2s;
}
.speed-button:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}
